#hdr {
  height: 35px;
  color: green;
  background-color: green;
}

 #track {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    float: right;
}

#ftr {
  height: 35px;
  color: red;
  background-color: red;
}
