#main{
  border-width: 15px;
  border-style: solid;
  border-color: black;
}


#hdr {
  height: 65px;
  color: #809477;
  background-color: #809477;
}

 #track {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: auto;
    align: right;
}

#ftr {
  height: 65px;
  color: #809477;
  background-color: #809477;
}
